<?xml version="1.0" encoding="utf-8"?>
<!--
  AlwaysFiles.wxs - Always Player v1.0
  手動管理版: ランタイムに必要なファイルのみ収録
  CMakeFiles/, Always_autogen/ などのビルド中間ファイルは除外済み
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">

      <!-- メイン実行ファイル -->
      <Component Id="cmp_Always_exe" Guid="{77244A51-F04C-44D9-A88E-BC76AADC9DE1}">
        <File Id="fil_Always_exe" KeyPath="yes" Source="$(var.SourceDir)\Always.exe" />
      </Component>

      <!-- mpv -->
      <Component Id="cmp_libmpv" Guid="{C62236CD-D29F-AA9F-4B76-BE895A575B72}">
        <File Id="fil_libmpv" KeyPath="yes" Source="$(var.SourceDir)\libmpv-2.dll" />
      </Component>
      <Component Id="cmp_tag" Guid="{A1B2C3D4-E5F6-7890-ABCD-EF1234567890}">
        <File Id="fil_tag" KeyPath="yes" Source="$(var.SourceDir)\tag.dll" />
      </Component>
      <Component Id="cmp_zlib1" Guid="{B2C3D4E5-F6A7-8901-BCDE-F12345678901}">
        <File Id="fil_zlib1" KeyPath="yes" Source="$(var.SourceDir)\zlib1.dll" />
      </Component>

      <!-- Qt6 DLLs -->
      <Component Id="cmp_Qt6Core" Guid="{56F06320-6C14-7CBF-7488-9413CA231FF1}">
        <File Id="fil_Qt6Core" KeyPath="yes" Source="$(var.SourceDir)\Qt6Core.dll" />
      </Component>
      <Component Id="cmp_Qt6Gui" Guid="{6011ADEC-16C9-FF3A-E515-4C8E028F76A0}">
        <File Id="fil_Qt6Gui" KeyPath="yes" Source="$(var.SourceDir)\Qt6Gui.dll" />
      </Component>
      <Component Id="cmp_Qt6Widgets" Guid="{853E9568-9CE2-A9A2-EDF6-6929F17D3700}">
        <File Id="fil_Qt6Widgets" KeyPath="yes" Source="$(var.SourceDir)\Qt6Widgets.dll" />
      </Component>
      <Component Id="cmp_Qt6Network" Guid="{3DF2D539-B6AF-7FF4-9FF2-425DD9926ADD}">
        <File Id="fil_Qt6Network" KeyPath="yes" Source="$(var.SourceDir)\Qt6Network.dll" />
      </Component>
      <Component Id="cmp_Qt6Svg" Guid="{79F79792-D0F9-5EE2-2F04-EE38B8BB42A3}">
        <File Id="fil_Qt6Svg" KeyPath="yes" Source="$(var.SourceDir)\Qt6Svg.dll" />
      </Component>

      <!-- Direct3D / OpenGL -->
      <Component Id="cmp_d3dcompiler" Guid="{593B47C5-A296-9589-37B4-699BB126000F}">
        <File Id="fil_d3dcompiler" KeyPath="yes" Source="$(var.SourceDir)\d3dcompiler_47.dll" />
      </Component>
      <Component Id="cmp_dxcompiler" Guid="{5DCB3F64-70E9-8D4B-A466-0BF76CB455A7}">
        <File Id="fil_dxcompiler" KeyPath="yes" Source="$(var.SourceDir)\dxcompiler.dll" />
      </Component>
      <Component Id="cmp_dxil" Guid="{11FA807A-01C8-9807-1C18-762386D25273}">
        <File Id="fil_dxil" KeyPath="yes" Source="$(var.SourceDir)\dxil.dll" />
      </Component>
      <Component Id="cmp_opengl32sw" Guid="{EA16414E-09FD-1D50-6813-9520966B49EB}">
        <File Id="fil_opengl32sw" KeyPath="yes" Source="$(var.SourceDir)\opengl32sw.dll" />
      </Component>

      <!-- ICU -->
      <Component Id="cmp_icuuc" Guid="{6344298A-1FF6-A5E8-D3A4-D8987E8BC02C}">
        <File Id="fil_icuuc" KeyPath="yes" Source="$(var.SourceDir)\icuuc.dll" />
      </Component>

      <!-- VC++ ランタイム -->
      <Component Id="cmp_vcredist" Guid="{DC832452-B37F-30F9-BE47-5784929B8752}">
        <File Id="fil_vcredist" KeyPath="yes" Source="$(var.SourceDir)\vc_redist.x64.exe" />
      </Component>

      <!-- Qt platforms プラグイン -->
      <Directory Id="dir_platforms" Name="platforms">
        <Component Id="cmp_qwindows" Guid="{A1000001-0000-0000-0000-000000000001}">
          <File Id="fil_qwindows" KeyPath="yes" Source="$(var.SourceDir)\platforms\qwindows.dll" />
        </Component>
      </Directory>

      <!-- Qt styles プラグイン -->
      <Directory Id="dir_styles" Name="styles">
        <Component Id="cmp_qwindowsvistastyle" Guid="{A1000002-0000-0000-0000-000000000002}">
          <File Id="fil_qwindowsvistastyle" KeyPath="yes" Source="$(var.SourceDir)\styles\qmodernwindowsstyle.dll" />
        </Component>
      </Directory>

      <!-- Qt imageformats プラグイン -->
      <Directory Id="dir_imageformats" Name="imageformats">
        <Component Id="cmp_qjpeg" Guid="{A1000010-0000-0000-0000-000000000010}">
          <File Id="fil_qjpeg" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qjpeg.dll" />
        </Component>
        <Component Id="cmp_qpng" Guid="{A1000011-0000-0000-0000-000000000011}">
          <File Id="fil_qpng" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qpng.dll" />
        </Component>
        <Component Id="cmp_qsvg" Guid="{A1000003-0000-0000-0000-000000000003}">
          <File Id="fil_qsvg" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qsvg.dll" />
        </Component>
        <Component Id="cmp_qico" Guid="{A1000004-0000-0000-0000-000000000004}">
          <File Id="fil_qico" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qico.dll" />
        </Component>
        <Component Id="cmp_qgif" Guid="{A1000012-0000-0000-0000-000000000012}">
          <File Id="fil_qgif" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qgif.dll" />
        </Component>
        <Component Id="cmp_qwebp" Guid="{A1000013-0000-0000-0000-000000000013}">
          <File Id="fil_qwebp" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qwebp.dll" />
        </Component>
      </Directory>

      <!-- Qt iconengines プラグイン -->
      <Directory Id="dir_iconengines" Name="iconengines">
        <Component Id="cmp_qsvgicon" Guid="{A1000005-0000-0000-0000-000000000005}">
          <File Id="fil_qsvgicon" KeyPath="yes" Source="$(var.SourceDir)\iconengines\qsvgicon.dll" />
        </Component>
      </Directory>

      <!-- Qt networkinformation プラグイン -->
      <Directory Id="dir_networkinformation" Name="networkinformation">
        <Component Id="cmp_qnetworklistmanager" Guid="{A1000006-0000-0000-0000-000000000006}">
          <File Id="fil_qnetworklistmanager" KeyPath="yes" Source="$(var.SourceDir)\networkinformation\qnetworklistmanager.dll" />
        </Component>
      </Directory>

      <!-- Qt tls プラグイン -->
      <Directory Id="dir_tls" Name="tls">
        <Component Id="cmp_qschannelbackend" Guid="{A1000007-0000-0000-0000-000000000007}">
          <File Id="fil_qschannelbackend" KeyPath="yes" Source="$(var.SourceDir)\tls\qschannelbackend.dll" />
        </Component>
      </Directory>

      <!-- Qt generic プラグイン -->
      <Directory Id="dir_generic" Name="generic">
        <Component Id="cmp_qtuiotouchplugin" Guid="{A1000008-0000-0000-0000-000000000008}">
          <File Id="fil_qtuiotouchplugin" KeyPath="yes" Source="$(var.SourceDir)\generic\qtuiotouchplugin.dll" />
        </Component>
      </Directory>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AlwaysFiles">
      <ComponentRef Id="cmp_Always_exe" />
      <ComponentRef Id="cmp_libmpv" />
      <ComponentRef Id="cmp_tag" />
      <ComponentRef Id="cmp_zlib1" />
      <ComponentRef Id="cmp_Qt6Core" />
      <ComponentRef Id="cmp_Qt6Gui" />
      <ComponentRef Id="cmp_Qt6Widgets" />
      <ComponentRef Id="cmp_Qt6Network" />
      <ComponentRef Id="cmp_Qt6Svg" />
      <ComponentRef Id="cmp_d3dcompiler" />
      <ComponentRef Id="cmp_dxcompiler" />
      <ComponentRef Id="cmp_dxil" />
      <ComponentRef Id="cmp_opengl32sw" />
      <ComponentRef Id="cmp_icuuc" />
      <ComponentRef Id="cmp_vcredist" />
      <ComponentRef Id="cmp_qwindows" />
      <ComponentRef Id="cmp_qwindowsvistastyle" />
      <ComponentRef Id="cmp_qsvg" />
      <ComponentRef Id="cmp_qico" />
      <ComponentRef Id="cmp_qjpeg" />
      <ComponentRef Id="cmp_qpng" />
      <ComponentRef Id="cmp_qgif" />
      <ComponentRef Id="cmp_qwebp" />
      <ComponentRef Id="cmp_qsvgicon" />
      <ComponentRef Id="cmp_qnetworklistmanager" />
      <ComponentRef Id="cmp_qschannelbackend" />
      <ComponentRef Id="cmp_qtuiotouchplugin" />
    </ComponentGroup>
  </Fragment>
</Wix>
