<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
      Id="*"
      Name="Always Player"
      Language="1033"
      Version="10.0.0.0"
      Manufacturer="YOUICHI SAIJO"
      UpgradeCode="F09C8124-7E68-4834-A489-24CBC5D1A305">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <Icon Id="AlwaysIcon.ico" SourceFile="$(var.SourceDir)\Always.ico" />
    <Property Id="ARPPRODUCTICON" Value="AlwaysIcon.ico" />

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Feature Id="MainFeature" Title="Always Player" Level="1">
      <ComponentGroupRef Id="AlwaysFiles" />
      <ComponentGroupRef Id="PlatformsFiles" />
      <ComponentGroupRef Id="StylesFiles" />
      <ComponentGroupRef Id="ImageFormatsFiles" />
      <ComponentGroupRef Id="IconEnginesFiles" />
      <ComponentGroupRef Id="NetworkInfoFiles" />
      <ComponentGroupRef Id="TlsFiles" />
      <ComponentGroupRef Id="GenericFiles" />
      <ComponentRef Id="AlwaysShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Always Player">
          <Directory Id="DIR_platforms" Name="platforms" />
          <Directory Id="DIR_styles" Name="styles" />
          <Directory Id="DIR_imageformats" Name="imageformats" />
          <Directory Id="DIR_iconengines" Name="iconengines" />
          <Directory Id="DIR_networkinformation" Name="networkinformation" />
          <Directory Id="DIR_tls" Name="tls" />
          <Directory Id="DIR_generic" Name="generic" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AlwaysProgramMenu" Name="Always Player" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AlwaysFiles" Directory="INSTALLFOLDER">
      <Component Id="cmp_Always_exe" Guid="{32CA34AF-650D-4402-A0D1-B991FBD3EA43}" Win64="yes">
        <File Id="fil_Always_exe" KeyPath="yes" Source="$(var.SourceDir)\Always.exe" />
      </Component>
      <Component Id="cmp_tag_dll" Guid="{82EB11C9-45CB-4613-AB22-988BD7DC937C}" Win64="yes">
        <File Id="fil_tag_dll" KeyPath="yes" Source="$(var.SourceDir)\tag.dll" />
      </Component>
      <Component Id="cmp_zlib1_dll" Guid="{F8BF2C69-6B79-4FA2-BD3A-8EBBB6DDCB05}" Win64="yes">
        <File Id="fil_zlib1_dll" KeyPath="yes" Source="$(var.SourceDir)\zlib1.dll" />
      </Component>
      <Component Id="cmp_Qt6Core" Guid="{D5688D83-48C5-4485-82ED-03F004762D6C}" Win64="yes">
        <File Id="fil_Qt6Core" KeyPath="yes" Source="$(var.SourceDir)\Qt6Core.dll" />
      </Component>
      <Component Id="cmp_Qt6Gui" Guid="{E6456B9B-F369-4B3C-A8FE-135E7B38E5E3}" Win64="yes">
        <File Id="fil_Qt6Gui" KeyPath="yes" Source="$(var.SourceDir)\Qt6Gui.dll" />
      </Component>
      <Component Id="cmp_Qt6Widgets" Guid="{E0E72E64-5199-4DD5-A2D9-4401D8B5CA4C}" Win64="yes">
        <File Id="fil_Qt6Widgets" KeyPath="yes" Source="$(var.SourceDir)\Qt6Widgets.dll" />
      </Component>
      <Component Id="cmp_Qt6Network" Guid="{C16608C2-E9D9-4573-A88A-2E3BC6C90CAE}" Win64="yes">
        <File Id="fil_Qt6Network" KeyPath="yes" Source="$(var.SourceDir)\Qt6Network.dll" />
      </Component>
      <Component Id="cmp_Qt6Concurrent" Guid="{4FAB014C-25AD-4576-85E4-54F830C4C086}" Win64="yes">
        <File Id="fil_Qt6Concurrent" KeyPath="yes" Source="$(var.SourceDir)\Qt6Concurrent.dll" />
      </Component>
      <Component Id="cmp_Qt6Svg" Guid="{8AD1C688-518C-4A2E-AB52-6D1F7DF94C7A}" Win64="yes">
        <File Id="fil_Qt6Svg" KeyPath="yes" Source="$(var.SourceDir)\Qt6Svg.dll" />
      </Component>
      <Component Id="cmp_msvcp140" Guid="{50F41C68-5BBC-486B-B087-B3BB376DC2A9}" Win64="yes">
        <File Id="fil_msvcp140" KeyPath="yes" Source="$(var.SourceDir)\MSVCP140.dll" />
      </Component>
      <Component Id="cmp_vcruntime140" Guid="{0EB3F111-3DA8-47BF-8CB8-4B973C1C03F7}" Win64="yes">
        <File Id="fil_vcruntime140" KeyPath="yes" Source="$(var.SourceDir)\VCRUNTIME140.dll" />
      </Component>
      <Component Id="cmp_vcruntime140_1" Guid="{E8D9C4BE-611C-49CC-AB85-F637F38C35F3}" Win64="yes">
        <File Id="fil_vcruntime140_1" KeyPath="yes" Source="$(var.SourceDir)\VCRUNTIME140_1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PlatformsFiles" Directory="DIR_platforms">
      <Component Id="cmp_qwindows" Guid="{E83B48C2-DB35-4738-BD1D-CCE7E0FC3618}" Win64="yes">
        <File Id="fil_qwindows" KeyPath="yes" Source="$(var.SourceDir)\platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="StylesFiles" Directory="DIR_styles">
      <Component Id="cmp_qstyle" Guid="{238EC97A-8A90-4499-9662-E7A0AC77475E}" Win64="yes">
        <File Id="fil_qstyle" KeyPath="yes" Source="$(var.SourceDir)\styles\qmodernwindowsstyle.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ImageFormatsFiles" Directory="DIR_imageformats">
      <Component Id="cmp_qsvg" Guid="{DFA7661C-EC6D-4907-B4EE-CF354E0B491D}" Win64="yes">
        <File Id="fil_qsvg" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qsvg.dll" />
      </Component>
      <Component Id="cmp_qico" Guid="{35F048EF-F038-4DDC-87A7-21D2547D9A8D}" Win64="yes">
        <File Id="fil_qico" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qico.dll" />
      </Component>
      <Component Id="cmp_qjpeg" Guid="{4486CECC-E39B-46C2-8964-6203E18F7B6C}" Win64="yes">
        <File Id="fil_qjpeg" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qjpeg.dll" />
      </Component>
      <Component Id="cmp_qgif" Guid="{9617DC3E-09C4-4952-BC48-CF13A019A1FF}" Win64="yes">
        <File Id="fil_qgif" KeyPath="yes" Source="$(var.SourceDir)\imageformats\qgif.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="IconEnginesFiles" Directory="DIR_iconengines">
      <Component Id="cmp_qsvgicon" Guid="{E8615DA5-C5CB-455C-B602-4EAA90730DBB}" Win64="yes">
        <File Id="fil_qsvgicon" KeyPath="yes" Source="$(var.SourceDir)\iconengines\qsvgicon.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="NetworkInfoFiles" Directory="DIR_networkinformation">
      <Component Id="cmp_qnetwork" Guid="{E01C2838-4259-431D-82D7-D649048FE231}" Win64="yes">
        <File Id="fil_qnetwork" KeyPath="yes" Source="$(var.SourceDir)\networkinformation\qnetworklistmanager.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="TlsFiles" Directory="DIR_tls">
      <Component Id="cmp_qtls" Guid="{944D1607-D6F6-4953-A319-1FFA3430A3AF}" Win64="yes">
        <File Id="fil_qtls" KeyPath="yes" Source="$(var.SourceDir)\tls\qschannelbackend.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="GenericFiles" Directory="DIR_generic">
      <Component Id="cmp_qtouch" Guid="{1413F0A9-AB51-40E9-A5F1-0F934FA6C504}" Win64="yes">
        <File Id="fil_qtouch" KeyPath="yes" Source="$(var.SourceDir)\generic\qtuiotouchplugin.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="AlwaysShortcut" Guid="{B00A9FB4-3399-4198-A1F9-661C3A7F4A4B}" Directory="AlwaysProgramMenu" Win64="yes">
      <Shortcut Id="StartMenuShortcut"
                Name="Always Player"
                Target="[INSTALLFOLDER]Always.exe"
                Icon="AlwaysIcon.ico" />
      <RemoveFolder Id="RemoveShortcutFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\YOUICHI\AlwaysPlayer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="DesktopShortcut" Guid="{70512B6E-D442-43E1-A6F0-21FB4D331723}" Directory="DesktopFolder" Win64="yes">
      <Shortcut Id="DesktopShortcutLink"
                Name="Always Player"
                Target="[INSTALLFOLDER]Always.exe"
                Icon="AlwaysIcon.ico" />
      <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\YOUICHI\AlwaysPlayer" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>

</Wix>
